.svn
*.suo
*.svn-base
*.cache
FriendsFlockTest/obj
FriendsFlockTest/Bin
FriendsFlock.Web/obj
FriendsFlock.Web/Bin
FriendsFlock.Web.Azure/obj
FriendsFlock.Web.Azure/Bin
FriendsFlockClient/obj
FriendsFlockClient/Bin
FriendsFlockCore/obj
FriendsFlockCore/Bin
FriendsService/obj
FriendsService/Bin
FriendsFlockInterface/obj
FriendsFlockInterface/Bin
GraphService/obj
GraphService/Bin
FriendsFlock.Web/ClientBin/*
GraphSharp.Silverlight/Bin
GraphSharp.Silverlight/obj
