<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" requirePermission="false" />
  </configSections>

  <!--PRODUCTION-->
  <facebookSettings
    appId="157050984313106"
    appSecret="0042dcdecbe8fc7193073c492d0a885e" />

  <!--DO NOT REMOVE-->
  <!--<system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, 
                Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, 
                Culture=neutral, 
                PublicKeyToken=31bf3856ad364e35"
             name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
</configuration>