@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.409.9290</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Info</span>
        <span><a href="mailto:Support@example.com">info@thepermanenceproject.org</a></span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Children’s Law Center of Washington
        <br />
        9900 Willows Road NE
        <br />
        Redmond, WA 98052
    </p>
</section>
