<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sf.eclipsefp.haskell.core.launch.HaskellLaunchDelegate">
<stringAttribute key="ARGUMENTS" value="&quot;C:\Documents and Settings\Administrator\My Documents\JavaWorkSpace\HW5\src\Main.hs&quot;"/>
<stringAttribute key="EXECUTABLE" value="hugs"/>
<stringAttribute key="FIRST_SELECTED_RESOURCE" value="Main.hs"/>
<stringAttribute key="PROJECT_NAME" value="HW5"/>
<stringAttribute key="WORKING_DIRECTORY" value="C:\Documents and Settings\Administrator\My Documents\JavaWorkSpace\HW5"/>
</launchConfiguration>
